body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, #00d1ff 0%, #9d00ff 100%);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.05);
}

#calculator {
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 40px;
  background: linear-gradient(135deg, #000000 0%, #1a1a1a 50%, #2c2c2c 100%);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.05);
  border: 1px solid #111;
  border-radius: 50px;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  text-shadow:
    0 0 5px #39ff14,
    0 0 10px #39ff14,
    0 0 20px #008000;
  letter-spacing: 3px;
}

#result {
  margin: 5px;
  padding: 20px;
  height: 100px;
  display: block;
  line-height: 60px; /* Centraliza o texto verticalmente (ajuste conforme necessário) */
  text-align: right; /* Alinha o número na direita */
  overflow-x: auto; /* Ativa o scroll horizontal */
  overflow-y: hidden;
  white-space: nowrap; /* IMPEDE a quebra de linha (O mais importante) */
  background-color: slategray;
  box-sizing: border-box;
  color: white;
  font-family: "Digital-7 Mono", monospace;
  font-size: 3rem;
}

table {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.n {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: linear-gradient(145deg, #232526 0%, #414345 50%, #232526 100%);
  cursor: pointer;
  border-radius: 100px;
  border-radius: 10px;
  color: white;
  font-size: 2rem;
  font-family: sans-serif;
  transition: transform 0.2s ease;
}

.n:active {
  transform: scale(1.05);
}
